/*/////////////Mobile First.///////////////*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    h1 {
       color: purple;
    }

}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {

    h1 {
       color: green;
    }
    #h-wrapper {
        margin: -20% 0 0 -30%;
    }

}

/*Android Resolution (Lollipop) 640px*/

@media only screen and (min-width: 640px) {
    h1 {
       color: darkturquoise;
    }
}

/*ipad potrait*/

@media only screen and (min-width: 768px) {
    h1 {
       color: red;
    }
    .mobile-nav-toggle {
        display: none;
    }
    nav {
        display: block;
    }
    body { /*Removes the navbar space*/
        padding-top: 100px;
    }
    #about-info {
        width: 100%;
    }
    .page-block {
        /* width: 50%;
        display: inline-block; */
    }
    .nav-links {
        font-size: 1.5rem;
    }
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {

    h1 {
       /* color: black; */
       font-size: 3.8rem;
    }
    h2 {
        font-size: 3rem;
    }
    #h-wrapper {
        /* top: 80%; */
    }
    #about-info {
        width: 45%;
        display: inline-block;
    }
    #name-card {
        width: 55%;
        display: inline-block;

    }
    .nav-links {
        font-size: 1.5rem;
    }
}
