/*/////////////Mobile First.///////////////*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    h1 {
       color: purple;
    }

}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {

    h1 {
       color: green;
       font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .project-title {
        padding-top: 10%;
        font-size: 4.8rem;
    }
    .button-wrapper {
        top: 65%;
    }
    .project-button a {
        font-size: 2.2rem;
    }
    /* #h-wrapper {
        width: 70%;
        margin: -20% 0 0 -35%;
        top: 55%;
    } */

}

/*Android Resolution (Lollipop) 640px*/

@media only screen and (min-width: 640px) {
    h1 {
        color: darkturquoise;
        font-size: 4.8rem;
    }
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 4rem;
    }
    /* #h-wrapper {
        width: 90%;
        margin: -20% 0 0 -45%;
    } */
    #skills span {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    #skills .skill-type {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }


}

/*ipad potrait*/

@media only screen and (min-width: 768px) {
    h1 {
       color: red;
       font-size: 5.8rem;
    }
    h2 {
        font-size: 4.3rem;
    }
    h3 {
        font-size: 4rem;
    }
    .mobile-nav-toggle {
        display: none;
    }
    nav {
        display: block;
    }
    body { /*Removes the navbar space*/
        padding-top: 100px;
    }
    #about-info {
        width: 100%;
    }
    .page-block {
        min-height: 500px;
    }
    .nav-links {
        font-size: 1.5rem;
    }
    .project-wrapper {
        width: 90%;
        margin: 0 auto 4%;
    }
    /* #h-wrapper {
        width: 100%;
        margin: -17% 0 0 -50%
    } */
}


/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {

    h1 {
       color: white;
       font-size: 3.8rem;
    }
    h2 {
        font-size: 3rem;
    }
    #h-wrapper {
        /* top: 80%; */
    }
    #about-info {
        width: 45%;
        display: inline-block;
    }
    #name-card {
        width: 55%;
        display: inline-block;

    }
    .nav-links {
        font-size: 1.5rem;
    }

}
