@font-face {
    font-family: 'MarketDeco';
    src: url('font/Market_Deco.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: MarketDeco;
    text-align: center;
    font-size: 36px;
}
h1 {
    margin: .2em 0;
}
ul {
    list-style-type: none;
}

nav {
    /*    position: fixed;*/
    width: 100%;
    /* background-color: darkmagenta; */
    color: #838994;
    height: 100px;
}

.navbar-header {
    font-size: 40px;
    color: whitesmoke;
    float: left;
    margin-top: 25px;
}

.nav-links ul {
    margin-left: 30px;
    float: right;
    font-size: 25px;
    margin: 27px;
}

.nav-links li {
    float: left;
    padding: 10px;
}

.portfolio {
    width: 100%;
}

.project-wrapper {
    width: 45%;
    padding: 2%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.preview-img {
    max-height: 400px;
    width: 100%;
}

li a {
    color: #838994;
}

#about {
    /* background: url("images/about.jpg") cover no-repeat; */
    width: 100%;
    height: 25vh;
}

#about img{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
#about-info {
    width: 45%;
    height: 100%;
    display: inline-block;
    background: #0083b0;
    color: white;
    vertical-align: top;
}

#background-grey {
    background: slategray;
    height: 100vh;
    width: 25%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 37.5%;
}

/* -webkit-gradient(linear,left top,left bottom,from(#43c6ac),to(#0083b0)); */