@font-face {
    font-family: 'MarketDeco';
    src: url('font/Market_Deco.ttf');
}

* {
    box-sizing: border-box;
}

body {
    font-family: MarketDeco;
    text-align: center;
    font-size: 36px;
}
h1 {
    margin: .2em 0;
}
ul {
    list-style-type: none;
}

nav {
    /*    position: fixed;*/
    width: 100%;
    /* background-color: darkmagenta; */
    color: #838994;
    height: 100px;
}

.navbar-header {
    font-size: 40px;
    color: whitesmoke;
    float: left;
    margin-top: 25px;
}

.nav-links ul {
    margin-left: 30px;
    float: right;
    font-size: 25px;
    margin: 27px;
}

.nav-links li {
    float: left;
    padding: 10px;
}

.portfolio {
    width: 100%;
}

.project-wrapper {
    width: 45%;
    padding: 2%;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
}

.preview-img {
    max-height: 400px;
    width: 100%;
}

li a {
    color: #838994;
}

#about {
    width: 100%;
    font-size: 0;
}
#name-card {
    background: url(images/about.jpg) no-repeat center;
    width: 95%;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    color: white;
    background-color: #838994;
    font-size: 2rem;
    position: relative;
    background-blend-mode: multiply;
}
#h-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 60%;
    margin: -15% 0 0 -30%;
}
#about-info {
    font-size: 1rem;
    width: 95%;
    height: 100%;
    display: block;
    background: #0083b0;
    color: white;
    vertical-align: text-top;
    margin: 0 auto;
}
#background-grey {
    visibility: hidden;
    /* background: slategray;
    height: 100vh;
    width: 25%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 37.5%; */
}
.mobile-nav-toggle {
    width: 40px;
    height: 40px;
    background: white;
    padding-top: 7px;
    border-radius: 2px;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 3;
}
.mobile-lines {
    width: 60%;
    height: 3px;
    background: #0083b0;
    margin: 5px auto;
    border-radius: 5px;
}

nav {
    display: none;
}

/* -webkit-gradient(linear,left top,left bottom,from(#43c6ac),to(#0083b0)); */