@font-face {
    font-family: 'MarketDeco';
    src: url('font/Market_Deco.ttf');
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');

* {
    box-sizing: border-box;
}

body {
    font-family: MarketDeco;
    text-align: center;
    font-size: 36px;
    background: white;
}
main {
    font-size: 0;
}
h1 {
    font-size: 2.5rem;
    margin: .2em 0;
}
h2 {
    font-size: 2rem;
    margin-top: 1rem;
}
h3 {
    font-size: 1.8rem;
    padding-top: 1rem;
}
/* ///////////////////////Nav Bar//////////////////////// */
ul {
    list-style-type: none;
}
nav {
    position: fixed;
    top: 15%;
    left: 5%;
    font-size: 0;
    color: #0083b0;
    background-color: rgba(255,255,255, .9);
    z-index: 2;
    width: auto;
    padding: 7%;
    /* height: 100px; */
    /* padding: 3% 3% 0; */
}
nav:hover {
    cursor: pointer;
}
/* .nav-container {
    width: 100%;
    padding-top: 3%;
} */
/* .navbar-header {
    margin: 0;
    font-size: 2rem;
    text-align: left;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
} */
.logos {
    width: 40px;
}
.nav-links {
    margin: 0;
    text-align: left;
    font-size: 2.5rem;
    width: 100%;
}
.nav-links ul {
    /* display: inline-block; */
    padding: 0;
}

.nav-links li {
    padding: 10px;
    cursor: pointer;
    display: block;
    width: 100%;
}
/* ////////////////////////////////// */
.portfolio {
    width: 100%;
}

.preview-img {
    max-height: 400px;
    width: 100%;
}

li a {
    color: #838994;
}
.page-block {
    width: 100%;
    font-size: 1rem;
    /* background-color: #838994; */
    background: rgba(0, 0, 0, .1);
    color: white;
    margin: 0 auto;
}
#about {
    width: 100%;
    
}
#about-info p {
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    margin: 8% auto;
    padding: 0 1%;
}
#name-card {
    background: url(images/about.jpg) no-repeat center;
    /* max-height: 450px; */
    background-size: cover;
    display: block;
    vertical-align: top;
    margin: 0 auto;
    color: white;
    background-color: rgba(0,0,0,.3);
    font-size: 2rem;
    position: relative;
    background-blend-mode: multiply;
}
#h-wrapper {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 30%;
    width: 100%;
    margin: -15% 0 0 -50%;
}
#about-info {
    font-size: 1rem;
    height: 100%;
    display: block;
    background: #0083b0;
    /* rgba(92, 141, 181, 0.6); */
    color: white;
    margin: 0 auto;
}
#background-grey {
    visibility: hidden;
    /* background: slategray;
    height: 100vh;
    width: 25%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 37.5%; */
}
.mobile-nav-toggle {
    width: 40px;
    height: 40px;
    background: white;
    padding-top: 7px;
    border-radius: 2px;
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: 3;
}
.mobile-lines {
    width: 60%;
    height: 3px;
    background: #0083b0;
    margin: 5px auto;
    border-radius: 5px;
}

nav {
    display: none;
}
footer {
    font-size: 1rem;
}
/* /////////////////////////////////////// */
/* ///////////PROJECTS////////////// */
#projects {
    background: rgba(0, 0, 0, .7);
    color: white;
    padding-bottom: 3%;
}
.project-wrapper {
    background: white;
    color: white;
    position: relative;
    z-index: 0;
    width: 95%;
    max-width: 900px;
    margin: 0 auto 2%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
    z-index: 1;
  }
.project-title  {
    position: relative;
    padding-top: 10%;
    font-size: 3rem;
    /* font-size: 4rem; */
    opacity: 0;
    transition: opacity .35s ease;
    z-index: 2;
}
/* .button-wrapper {
    position: absolute;
    width: 100%;
    left:0;
    top: 50%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    z-index: 2;
} */
.button-wrapper {
    position: absolute;
    width: 100%;
    left: 5%;
    top: 65%;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    z-index: 2;
}
.project-button {
    display: inline-block;
    width: 50%;
    /* width: 25%; */
    margin: 0 auto;
    border-radius: 5px;
} 
.project-button:hover {
    cursor: pointer;
}
.project-button a {
    width: 75%;
    /* padding: 12px 48px; */
    text-align: center;
    color: white;
    border: solid 2px white;
    display: block;
    font-size: 2.2rem;
}
.project-button a:hover {
    background-color: (255, 255, 255, .4);
    color: black;
}
#bob {
    background: url("images/bolus-on-board.png") no-repeat top;
    background-size: cover;
}
#bob:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}
#bob:hover .project-title {
    opacity: 1;
}
#bob:hover .button-wrapper {
    opacity: 1;
}
#bob:hover .button-a {
    opacity: 1;
}
#shakes {
    background: url("images/shakes-passport.jpg") no-repeat top;
    background-size: cover;
}
#shakes:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .7);
}
#shakes:hover .project-title {
    opacity: 1;
}
#shakes:hover .button-wrapper {
    opacity: 1;
}
#museum {
    background: url("images/museum-explorer.jpg") no-repeat top;
    background-size: cover;
}
#museum:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}
#museum:hover .project-title {
    opacity: 1;
}
#museum:hover .button-wrapper {
    opacity: 1;
}
#clue {
    background: url("images/clue-quiz.jpg") no-repeat top;
    background-size: cover;
}
#clue:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .7);
}
#clue:hover .project-title {
    opacity: 1;
}
#clue:hover .button-wrapper {
    opacity: 1;
}

/* //////////////////////////////SKILLS//////////////////////////////// */

#skills {
    background: #F0643E;
    width: 100%;
    text-align: left;
    padding: 0 1% 5% 4%;
}
#skills h3 {
    padding-bottom: 1rem;
    text-align: center; 
}
#skills span {
    font-family: 'PT Serif', serif;
    font-size: 1.1rem;
    line-height: 2rem;
}
#skills .skill-type {
    font-family: MarketDeco;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

/* -webkit-gradient(linear,left top,left bottom,from(#43c6ac),to(#0083b0)); */